<% content_for :title do %>
    Listado Usuarios
<% end %>

<%= render 'shared/navbar_admin' %>

<div class="header-admin">
  <h1 class="h1-admin">Lista de Usuarios</h1>
</div>
<div>
  <%= link_to 'Nuevo Usuario', new_admin_user_path, class: "btn-admin btn-primary-admin" %>
</div>

<% if @users.present? %>
  <table class="table-admin">
    <thead class="table-head-admin">
      <tr>
        <th>Nombre de Usuario</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="table-body-admin">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= user.role %></td>
          <td>
            <%= form_with url: delete_admin_user_path(user.id), method: :delete, local: true do |form| %>
              <%= link_to 'Ver más', admin_users_path, class: 'btn-delete-admin' %>
              <%= form.submit "Eliminar", class: "btn-delete-admin", data: { confirm: "¿Estás seguro de eliminar a este usuario?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No hay usuarios registrados.</h2>
<% end %>
