<% content_for :title do %>
  Iniciar sesión
<% end %>

<%= render 'shared/navbar_public' %>

<%= render 'shared/handler_alerts' %>

<div class="login-form-container">
  <h2 class="login-form-title">Iniciar sesión</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-form-field">
      <%= f.label :email, class: "login-form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-form-input" %>
    </div>

    <div class="login-form-field">
      <%= f.label :password, class: "login-form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "login-form-input" %>
    </div>

    <div class="login-form-field">
      <%= f.submit "Confirmar", class: "login-form-submit" %>
    </div>
  <% end %>

</div>

<div class="product-back-div">
  <%= link_to 'Volver', request.referer || root_path, class: 'product-back-button' %>
</div>
