<% content_for :title do %>
  Listado Productos
<% end %>

<%= render 'shared/navbar_admin' %>

<%= render 'shared/handler_alerts' %>

<div class="header-admin">
  <h1 class="h1-admin">Lista de Productos</h1>
</div>

<%= form_tag products_path, method: :get do %>
    <div class="product-filter-container">
      <div class="product-btn-primary-container">
      <%= link_to 'Nuevo Producto', new_product_path, class: "btn-primary-product"%>
      </div>
      <div class="left-filter-product">
        <p class="p-filter-product">Filtros:</p>
        <div class= "product-search-container">
          <%= text_field_tag 'q[name_or_description_cont]', 
                params.dig(:q, :name_or_description_cont), 
                placeholder: "Introduce una palabra clave", 
                class: "product-search-input" %>
        </div>
        <div class= "product-category-list">
          <%= select_tag 'q[category_id_eq]', 
                  options_from_collection_for_select(
                    Category.all, 
                    :id, 
                    :name, 
                    params.dig(:q, :category_id_eq)
                  ), 
                  prompt: "Todas las categorías", 
                  class: "product-category-select" %>

          <%= submit_tag "Buscar", class: "btn-admin-td btn-details-admin" %>
        </div>
      </div>
    </div>
<% end %>

<% if @products.present? %>
<table class="table-admin">
  <thead class="table-head-admin">
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categoria</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody class="table-body-admin">
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price, unit: "$", separator: ",", delimiter: ".", precision: 2) %></td>
        <td><%= product.stock %></td>
        <td><%= product.category.name %></td>
        <td>
          <%= form_with model: product, url: product_path(product), method: :delete, data: { confirm: "¿Estás seguro?" } do %>
            <%= link_to 'Ver mas', product_path(product), class: 'btn-admin-td btn-details-admin' %>
            <%= submit_tag "Eliminar", class: "btn-admin-td btn-delete-admin" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= link_to_previous_page @products, "Anterior", class: "btn btn-outline-primary" %>
  <span>Página <%= @products.current_page %> de <%= @products.total_pages %></span>
  <%= link_to_next_page @products, "Siguiente", class: "btn btn-outline-primary" %>
</div>

<% else %>
    <h2 class="h2-not-products">No hay Productos registrados.</h2>
<% end %>


