<% content_for :title do %>
  Detalles Venta
<% end %>

<%= render 'shared/navbar_admin' %>

<%= render 'shared/handler_alerts' %>

<div class="sale-details-container">
  <h1 class="sale-details-title">Detalles de la Venta</h1>

  <div class="sale-details-section">
    <p><span class="sale-details-label">Venta:</span> <span class="sale-details-value"><%= @sale.id %></span></p>
    <% if @sale.deleted_at.nil? %>
      <p><span class="sale-details-label">Estado:</span> <span class="sale-details-value">Realizada</span></p>
    <% else %> 
      <p><span class="sale-details-label">Estado:</span> <span class="sale-details-value">Cancelada</span></p>
    <% end %> 
    <p><span class="sale-details-label">Fecha de Venta:</span> <span class="sale-details-value"><%= @sale.sale_date.strftime("%d %m %Y %H:%M") %></span></p>
    <p><span class="sale-details-label">Total:</span> <span class="sale-details-value"><%= number_to_currency(@sale.total_amount, unit: "$", separator: ",", delimiter: ".", precision: 2) %></span></p>
  </div>

  <div class="sale-client-section">
    <h3 class="sales-form-title">Cliente</h3>
    <p><span class="sale-details-label">DNI:</span> <span class="sale-details-value"><%= @sale.client.dni %></span></p>
    <p><span class="sale-details-label">Nombre:</span> <span class="sale-details-value"><%= @sale.client.name %></span></p>
    <p><span class="sale-details-label">Teléfono:</span> <span class="sale-details-value"><%= @sale.client.phone %></span></p>
    <p><span class="sale-details-label">Email:</span> <span class="sale-details-value"><%= @sale.client.email %></span></p>
  </div>

  <div class="sale-products-section">
    <h3 class="sales-form-title">Productos Vendidos</h3>
    <ul class="sale-products-list">
      <% @sale.sale_items.each do |item| %>
        <li>
          <%= item.product.name %> (Cantidad: <%= item.quantity %>, Precio Unitario: <%= number_to_currency(item.unit_price, unit: "$", separator: ",", delimiter: ".", precision: 2) %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="product-back-div">
  <%= link_to 'Volver', request.referer || root_path, class: 'product-back-button' %>
</div>